{% extends 'base.html' %}

{% block title %} | Reset Password{% endblock title %}

{% block content %}
<section class="vh-100 bg-image"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5">Password Reset Sent</h2>
                    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                    
                    <p class="d-flex justify-content-center">
                        Go back to <a href="{% url 'accounts:login' %}">Login here</a>
                    </p>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
{% endblock content %}